
.featurette-divider {
  margin: 5rem 0;
}

.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}

@media (min-width: 40em) {
  .featurette-heading {
    font-size: 50px;
  }
}
@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}
.featurette-section{
  .featurette{
    &:nth-child(even){
      .border-blob{
        border-radius: 29% 71% 42% 58% / 62% 46% 54% 38% !important;
        animation: border-rotate 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
      }
    }
    &:nth-child(odd){
      .border-blob{
        border-radius: 29% 71% 74% 26% / 60% 43% 57% 40% !important;
      }
    }
  }
}

@-webkit-keyframes slide-fwd-center {
  0% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
  }
  100% {
    -webkit-transform: translateZ(160px);
            transform: translateZ(160px);
  }
}
@keyframes slide-fwd-center {
  0% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
  }
  100% {
    -webkit-transform: translateZ(160px);
            transform: translateZ(160px);
  }
}
