.header__hero{
    background-image: url('../images/base/material-bg.svg');
    background-position: bottom center;
    background-size: cover;
    background-repeat: no-repeat;
    
    .hero__canvas{
      @extend .shadow-lg;
      border: 0.3rem solid $main-dark !important;
      transition: all 1s linear;
      box-shadow: 0 1rem 3rem rgb(0 0 0 / 55%) !important;
      background-image: linear-gradient(to bottom, rgba(0, 6, 7, 0.2), rgba(0, 0, 0, 0.1));
      backdrop-filter: blur( 10px );
      -webkit-backdrop-filter: blur( 6.5px );
      }
  }
.glassify{
    @extend .shadow-lg;
    border: 0.3rem solid $main-dark !important;
    box-shadow: 0 1rem 3rem rgb(0 0 0 / 55%) !important;
    background-image: linear-gradient(to bottom, rgba(0, 6, 7, 0.2), rgba(0, 0, 0, 0.1));
    backdrop-filter: blur( 10px );
    -webkit-backdrop-filter: blur( 6.5px );
    transition: all 0.3s ease-in-out;
    &:hover{
        background-color: $main-dark;
    }
}