
  .feature-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 4rem;
    height: 4rem;
    margin-bottom: 1rem;
    font-size: 2rem;
    color: #fff;
    border-radius: .75rem;
  }


.glass-dark{
  border: 0.3rem solid $main-dark !important;
  transition: all 1s linear;
  box-shadow: 0 1rem 3rem rgb(0 0 0 / 55%) !important;
  background-image: linear-gradient(to bottom, rgba(0, 6, 7, 0.2), rgba(0, 0, 0, 0.1));
  backdrop-filter: blur( 10px );
  -webkit-backdrop-filter: blur( 6.5px );
}

.service__col{
  transition: all 1s linear;
  color: white !important;
  &:hover{
    .service__icon{
      &::after{
        transform: scale(15);
        transition: all 0.3s ease-in;
      }
    }
    .service__body{
      transition: all 0.3s ease-in;
      color: $main-dark !important;
    }
  }
  .service__card{
    overflow: hidden;
    .service__body{
      .service__icon{
        transition: all 0.3s ease-in;
        position: relative;
        &::after{
          transition: transform 0.3s ease-in;
          content: '';
          width: 50px;
          height: 50px;
          display: inline;
          position: absolute;
          top: 0;
          left: 0;
          background-color: $main-light;
          z-index: -1;
          border-radius: 100%;
        }
      }
    }
  }
}