@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import '../../node_modules/bootstrap/scss/bootstrap';

@import 'variables';
@import 'services';
@import 'featurette';
@import 'carousel';
@import 'utilities';
@import 'grain';
@import 'hero';
@import 'navbar';
@import 'navandhero';
@import 'calltoaction';
@import 'footer';

body{
    font-size: 16px;
    font-family: 'Urbanist', sans-serif;
    color: $main-dark !important;
    background-color: $main-light;
}
.navbar-brand{
    font-size: 1.6rem;
    font-weight: bold;
}
.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0; // remove the gap so it doesn't close
}